@media all and (max-width:600px) and (min-width:0px) {
  body #app { font-size: 16px; }
  #app #logo { width: 300px; }
  #app .main-nav { font-size: 12px; }
  #app .main-nav ul li { margin: 5px 10px; }
  #app h2 { font-size: 26px; }
  #app h4 { font-size: 16px; }
  #app .rsvp { font-size: 14px; }
  #app .btn-lg { padding: 3px 8px; margin: 10px 0; font-size: 13px; }
  #app .date.bigger { font-size: 17px; }
  #app .date { font-size: 16px; }
  #app .date img { margin-left: 0; }
  #app .paperdolls { padding: 10px 0 0 0; min-width: 135px; } 
  #app .paperdoll { max-height: 180px; } 
  #app .garment { max-height: 58px; } 
  #app .analysis { width: 130px; } 
  #app .page.full { padding: 5px; }
  #app h1.title img { max-width: 350px; }
  #app h3.section-title { font-size: 20px; }
  #app .aside { width: 135px; }
  #app p { max-width: 300px; }
  .ReactModalPortal { font-size: 14px; }
  .ReactModalPortal p { margin-top: 5px; }
  .ReactModalPortal h3 { margin-top: 5px; }
}

@media all and (max-width:1000px) and (min-width:600px) {
  body #app { font-size: 16px; }
  #app #logo { width: 500px; }
  #app .main-nav { font-size: 15px; }
  #app .main-nav ul li { margin: 5px 10px; }
  #app h2 { font-size: 26px; }
  #app h4 { font-size: 16px; }
  #app .rsvp { font-size: 14px; }
  #app .btn-lg { padding: 3px 8px; margin: 10px 0; font-size: 13px; }
  #app .date.bigger { font-size: 17px; }
  #app .date { font-size: 16px; }
  #app .date img { margin-left: 0; }
  #app .paperdolls { padding: 10px 0 0 0; min-width: 200px; } 
  #app .paperdoll { max-height: 280px; } 
  #app .garment { max-height: 120px; } 
  #app .analysis { width: 200px; } 
  #app .page.full { padding: 5px; }
  #app h1.title img { max-width: 350px; }
  #app h3.section-title { font-size: 20px; }
  #app .aside { width: 135px; }
  #app p { max-width: 300px; }
  .ReactModalPortal { font-size: 14px; }
  .ReactModalPortal p { margin-top: 5px; }
  .ReactModalPortal h3 { margin-top: 5px; }
}

html, body {
  width: 100%; height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
}


body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background: url(/img/background.jpg) center no-repeat;
  background-color: #fff9ee;
  background-size: cover;
}

#app {
  font-family: 'Fanwood', 'serif';
  position: relative;
}

#logo {
  width: 700px;
}

@font-face{
  font-family: 'Fanwood';
  src: url(/fonts/Fanwood.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Asterism Clean';
  font-size: 100px;
}

h1.title {
  text-align: center;
}

h2 {
  font-size: 40px;
}

div.tree{
  background: url('/img/tree.png') center no-repeat;
  background-size: contain;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  z-index: 9999;
  background: #fff9ee;
}

.main-nav ul {
  margin: 25px 0;
  padding: 0;
  text-align: center;
}

.main-nav ul li {
  display: inline;
  margin: 10px 20px;
}

.main-nav ul li.disabled a{
  color: #ccc;
  cursor: default;
  pointer-events: none;
}

.main-nav ul li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.page{
  padding-bottom: 60px;
}

.page.full {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 20px;
}

.page.centered{
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: scroll;
}

.page.centered.aligntop{
  margin-top: 5%;
  justify-content: flex-start;
}

.page.overflowing{
  margin-top: 20px;
}

.dates {
  list-style: none;
  font-size: 30px;
  padding-left: 0;
}

.date {
  margin: 20px;
}

.date.bigger {
  font-size: 33.5px;
}

.date img{
  width: 40px;
  height: 30px;
  margin: 5px 20px;
}

.paperdolls {
  float: left;
  padding: 120px;
  text-align: center;
  min-width: 300px;
}

.clothes {
  position: absolute;
  overflow: scroll;
  right: 0; left: 30%;
}

.garment {
  max-height: 190px;
  height: auto;
}

.paperdoll {
  max-height: 300px;
}

.slider-wrap{
  padding-top: 14px;
}

.add-person{
  cursor: pointer;
  padding: 14px;
}

.add-person:hover{
  color: #337ab7;
}

.title-row{
  margin: 20px 0;
  cursor: pointer;
}

.title-row h2{
  margin: 0;
}

.title-row:hover h2{
  color: #337ab7;
}

.fake-checkbox{
  height: 45px;
  width: 45px;
  position: relative;
}

.fake-checkbox img{
  position: absolute;
  margin: 0 auto;
  top: -6px;
  left: 0; right: 0;
  z-index: 999;
  max-width: 100%;
  max-height: 120%;
}

.fake-checkbox-inner{
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  border: 2px solid #bbb;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  z-index: 998;
}

.fake-checkbox.nono .fake-checkbox-inner{
  border: none;
}

.fake-checkbox.nono .fake-checkbox-inner img{
  top: 5px;
  max-height: 80%;
}

.fake-checkbox.noyes .fake-checkbox-inner img{
  top: -10px;
}

.fake-checkbox:after{
  font-size: 39px;
  margin-left: -6px;
  margin-top: -36px;
  display: inline-block;
}

.toggle-advanced{
  margin: 35px 0;
  cursor: pointer;
}

.toggle-advanced:hover{
  color: #337ab7;
}

.toggle-advanced:after{
  font-size: 10px;
  content:" ▼";
}

.toggle-advanced.closed:after{
  content:" ▶";
}

.rsvp{
  font-size: 18px;
}

.alldone {
  text-align: center;
}

.radio label{
  min-width: 162px;
}

.analysis{
  width: 300px;
}

.nonames{
  text-align: center;
}

hr.spacer {
  height: 40px;
}

.aside {
  width: 250px;
  padding: 10px 0 30px 0;
  text-align: center;
}

.aside img{
  max-width: 100%;
}

.aside.left{
  padding-right: 25px;
}

.aside.right{
  padding-left: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.middle {
  text-align: center;
}

.footer-tree{
  max-width:45px;
  opacity: 0.5;
}

.section-title {
  font-variant: small-caps;
}

.leaflet-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
